---
---

// add bootstrap variable settings here

@import 'bootstrap/bootstrap';

@font-face{
  font-family: 'Roboto-Regular';
  src:url('/fonts/Roboto-Regular.ttf');
}

// add more css stuff here

@font-face{
  font-family: 'Roboto-Regular';
  src:url('/fonts/Roboto-Regular.ttf');
}
@font-face{
  font-family: 'Roboto-Medium';
  src:url('/fonts/Roboto-Medium.ttf');
}
@font-face{
  font-family: 'Roboto-Bold';
  src:url('/fonts/Roboto-Bold.ttf');
}
@font-face{
  font-family: 'Roboto-Light';
  src:url('/fonts/Roboto-Light.ttf');
}


$font-face-regular:'Roboto-Regular';
$font-face-bold:'Roboto-Bold';
$font-face-medium:'Roboto-Medium';
$font-face-light:'Roboto-Light';

$orange:#FFB647;
$orangehover:#F09C1A;
$green:#18F2B2;
$sky-blue:#26D3FF;
$sky-blue-hover:#00BEEB;
$blue-purple:#B2ABF2;
$slate-gray:#526881;
$light-gray:#748599;
$flash-white:#EDF0F4;

a:hover{
  text-decoration: none!important;
}
li{
  list-style: none;
}

.affix {
    top: 20px;
    position: fixed;
    width: 300px;
    z-index: 999;
    @media(max-width: 767px){
      width: 100%;
      top: 0;
      left: 0;
      position: relative;
    }
}

  .box-color{
    border:0px;border-radius: 2px;background-color: $flash-white;padding: 30px 35px;
    @media(max-width: 1199px){
      padding: 15px;
    }
      @media(max-width: 767px){
        background-color: transparent;
        padding: 30px 0px;
      }
    ul{
      padding: 0;
      li{
        @media(max-width: 767px){
          display: inline-block;
          padding-right: 20px;
        }
        a{
          font-size: 14px; line-height:26px;color: #8F9299;
        }
      }
    }
    .ramlapilinks{
      @media(max-width: 767px){
        display: inline-block;
        float: right;
        margin-top: 2px;
      }
      @media(max-width: 575px){
        float:none;
        display:block;
      }
    }
    .lastsidemenu{
      @media(max-width: 767px){
        display: inline-block;
        float: left;
        margin-top: 15px
      }
      @media(max-width: 575px){
        float:none;
        display:block;
      }
    }
    .tutorial_sidebar{
      @media(max-width: 767px){
          display: inline-block;
          margin: 0 20px;
          float: left;
        }
        @media(max-width: 575px){
          float:none;
          margin:0;
          display:block;
        }
      .dropdown-menu{
        padding: 10px;        
      }
      .dropdown-toggle {
        border: 2px solid;
        padding: 5px 10px;
        margin-top: 8px;
        margin-bottom: 8px;
        display: table;
      }
    }
  }


body{
  margin: 0;
  padding: 0;
  font-family: $font-face-regular;
  position: relative;
}
a{
  color: #000;
}
ul{
  text-decoration: none;
  list-style: none;
}

h1{
  font-size: 36px;
  line-height: 42px;
  font-family: $font-face-light;
}
h2{
  font-size: 24px;
  line-height: 28px;
}
h3{
  font-size: 16px;
  line-height: 19px;
}
h4{
  font-size: 14px;
  line-height: 16px;
}
p{
  font-size: 14px;
  line-height: 24px;
  color: $slate-gray;
}


.padd_00{padding: 0;}
a.specif_btn{border: 0px solid;border-radius: 4px; background-color: #000;color: #fff;padding: 15px 25px;font-size: 16px;letter-spacing: 0.5px;line-height: 19px; text-decoration: none;}
a.specif_btn{background-color: $orange !important;margin-bottom: 10px;display: table;}
a.specif_btn:hover{background-color: $orangehover !important;}
a.btn_black{border: 0px;border-radius: 2px;background: $sky-blue;color: #fff;padding: 20px;width: 232px;display: block;text-align: center;}
a.btn_black:hover{background-color: $sky-blue-hover;}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2; 
}

header{
  .navbar-expand-md{
    background-color: transparent;border-color:transparent;padding: 22px 30px;margin-bottom: 20px;
    @media(max-width: 767px){
      padding: 20px 0;margin-bottom: 0;z-index: 999;
      .navbar-collapse{
        position: absolute;top: 0;z-index:999;min-height:100vw;visibility: visible;background:#fff;
      }
      .nav-logo{
        padding-left: 15px; display: inline-block;margin-right: 20px;
      }
    }
    .container-fluid{
      @media(max-width: 1140px){
        padding-right: 0;
      }
    }
    .navbar-brand{
      padding: 0;height: auto;
      img{
        margin-top: 8px;
        @media(max-width: 767px){
          padding-left: 30px;
        }
      }
    }
    .navbar-toggler-icon{
      background-image: url("/images/toggle.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .navbar-nav{
      float: right;
      width: 100%;
      li{
        @media(max-width: 767px){
          padding:5px 15px;
        }
        a.nav-link{
          font-size: 14px;color: #E5E7EC;line-height: 16px;padding: 15px;
            @media(max-width: 767px){
              opacity: 1;
              font-size: 18px;
              line-height: 21px;
              font-weight: 500;
            }
          .caret{
            border: solid$slate-gray;border-width: 0 2px 2px 0;display: inline-block;padding: 3px; transform: rotate(45deg); -webkit-transform: rotate(45deg);margin-left: 10px;margin-top: -4px;
            @media(max-width: 767px){
              display: none;
            }
          }
        }
        a.nav-link:focus{
          color: $slate-gray;
        }
        a.nav-link:hover{
          color: $slate-gray;opacity: 1;
        }
      }
      li.dropdown{
        .dropdown-toggle{
          padding-right: 0;
        }
        .dropdown-toggle::after {
          display: none;
        }
        .dropdown-menu{
          padding: 20px 5px;
          min-width: 167px;
          box-shadow: none;
          border-radius: 2px;
          background-color: $slate-gray;
          position: absolute;
          left: -88px;
            @media(max-width: 767px){
              position:relative;display: block;background-color: #fff;box-shadow: none;border: none;color: #000;left: 0;padding-top: 0;top: 0;
            }
            a{
              color:#fff;opacity: 1;padding: 8px 25px;
               @media(max-width: 767px){
                color:#000; 
                font-size: 14px;
                line-height: 16px;
                font-weight: normal;               
               } 
            }
            @media(min-width: 768px){
              a:hover{color:#fff;background-color: transparent;}
            } 
          }
        }
      i.fa-github{
        font-size: 26px;line-height: 45px;padding: 0 15px;color: $slate-gray;
      }
      li:last-child{
        ul.dropdown-menu{
          right: 0;left: auto;
        }
      }
      .xs-visible{
        display: none;
        @media(max-width: 767px){
          display: inline-block;
        }
      }
      @media(max-width: 767px){
        float: left;
      }
      .active{
        a.nav-link, a.nav-link:hover, a.nav-link:focus{
          color: $slate-gray;background-color: transparent;opacity: 1;
        }
      }
      .open{
        a.nav-link, a.nav-link:hover, a.nav-link:focus{
          color: $slate-gray;background-color: transparent;opacity: 1;
        }
      }
    }
    #myNavbar{border-color: transparent;padding: 0;}
  }
}

.tophead-banner{
  background-image: url('/images/banner-img__homepage-raml.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  .tophead-content{
    h1{
      margin-top: 30px;color: $slate-gray;
        @media(max-width: 767px){
          font-size: 18px;line-height: 25px;margin-top: 10px;
        }
    }
    p{
      font-size: 12px; color:$sky-blue;margin-bottom: 50px;
    }
    .buttons{
      margin: 40px auto 24px;
      text-align: center;
      width: 450px;
      @media(max-width: 767px){
        width: 100%;
        margin: 30px auto 30px;
      }
      a{
        border: 0px solid;border-radius: 2px; background-color:$sky-blue;color: #fff;padding: 20px 25px;font-size: 16px;letter-spacing: 0.5px;line-height: 19px; text-decoration: none;margin-left: 25px;width: 190px;display: block;float: left;
        @media(max-width: 575px){
          width: 190px;display: block;margin:0 auto;margin-bottom: 15px;float: none;
        }
      }
      a:hover{
        background-color: $sky-blue-hover;
      }
    }
  }
}  

.homepage-logos{
  .logo {
    width: 14%;
    float: left;
    margin-bottom: 20px;
    @media(max-width: 767px){
      width:33.33%;
      img{
        margin: 0 auto;
        display: block;
      }
    }
  }
}


#content-bg-color{
  background-color: $slate-gray;color:#fff;padding: 75px 0 85px;
    @media(max-width: 767px){
      padding: 30px 0 50px;      
    }
    .homepage_icons{
        img{
          margin: 0 5px;
          @media(max-width: 767px){
            width: 70px;
          }
        }
      }
  h2{
    margin-bottom: 30px;margin-top: 20px;
    @media(max-width: 767px){
      font-size: 18px;line-height: 25px;padding: 0 20px;
    }
  }
  p{
    font-size: 14px;line-height: 24px; width: 445px;margin: 0 auto;margin-bottom: 42.58px;color: #fff;
    @media(max-width: 767px){
      width: 100%;
    }
  }
}

.raml-editor{
  position: relative;
  @media(max-width: 767px){
    display: none;
  }
  h1{
    color: $flash-white; font-family: 'Roboto-Regular';  font-size: 14px;  font-weight: 500; line-height: 16px;margin:0;background: $slate-gray;padding: 20px;border-top: 1px solid #748599;width: 100%;}
  .output-block{
    h4{
      background-color: #EDF0F4;color: #000;
    }
  }
  a.pull-right{
    position: absolute;
    right: 15px;
    top: 11px;
    border: 0px;
    border-radius: 2px;
    padding:10px 20px;
    background-color: $sky-blue;
    color: #FFFFFF;
    font-family: 'Roboto-Regular';
    font-size: 14px;  font-weight: 500; 
    letter-spacing: 0.44px; 
    line-height: 16px;  
    text-align: center;
  }
  a.pull-right:hover{
        background-color: $sky-blue-hover;
      }
  .editor-block{
    .monaco-editor{
      background-color: #F7FAFF;
      .editor-scrollable{
        .view-lines{
          .mtk5{
            color: #00667E;
            font-family: $font-face-bold;
          }
          .mtk22{
            color: $sky-blue;
            font-family: $font-face-bold;
          }
          .mtk8{
            color: #D9DFE7;
            font-family: $font-face-bold;
          }
        }
      }
    }  
  }
}


.raml-blocks{
  @media(max-width: 767px){
    padding: 0 15px;
  }
  h3{
    letter-spacing: 0.5px;font-family: $font-face-bold;color: $slate-gray;font-size: 24px;width: 353px;line-height: 28px;margin-bottom: 20px;margin-top: 25px;
    @media(max-width: 767px){
      width: 100%;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 20px;
    }
  }  
  img{
    width: 55px;margin-top: 100px;
    @media(max-width: 767px){
      margin-top: 50px;
    }
  }
  .row-bg-color{
    background-color: #F7FAFF;
    padding: 105px 0;
    margin-top: 105px;
    img{
      margin-top: 0;
    }
  }
  .more-btn{
    border:2px solid;
    padding: 10px 35px 10px 20px;
    margin-top: 30px;
    display: block;
    width: 155px;
    text-align: center;
    border-radius: 2px;
  }

  .more-btn:before{
    content: "\f105";font-weight: bold;font-family: 'Font Awesome\ 5 Free';font-style: normal;text-decoration: inherit;font-size: 18px;position: absolute;top: 9px;right: 20px;
  }
  .orange{
    color: $orange;
  }
  .green{
    color: $green;
  }
  .sky-blue{
    color: $sky-blue;
  }
  .blue-purple{
    color: $blue-purple;
  }
  p{
    color: $light-gray;width: 353px;
    @media(max-width: 991px){
      width: 335px;
    }
    @media(max-width: 767px){
      width: 100%;
    }
  }
  a{
    font-size: 14px;line-height: 22px;position: relative;
  }
  .bdr{
    border:0px solid;width: 350px;padding: 30px;border-radius: 2px;margin-top: 135px;background-color: #F7FAFF;
      @media(max-width: 767px){
        width: 100%!important;margin-top: 50px;padding: 20px;
      }
    h1{
      margin-top: 0;
      color: $slate-gray;
      font-size: 24px;
      line-height: 28px;
      font-family: $font-face-bold;
    }
    p{
      width: 100%;margin-bottom: 20px;font-family: $font-face-light;
    }
    a{
      font-size: 16px;line-height: 19px;letter-spacing: 0.5px;border:0px solid;border-radius: 2px;background-color: $sky-blue;width: 220px; color: #fff;display: block;padding: 20px;text-align: center;
      @media(max-width: 767px){
        width: 100%!important;
      }
    }
    a:hover{
        background-color: $sky-blue-hover;
      }
    @media(max-width: 991px){
      width: 331px;
    }
  }
  .block-quote{
    width: 480px;margin: 80px auto 137px; 
    @media(max-width: 767px){
          width: 100%;margin: 0;padding-bottom: 30px;
        }
    h1{
      font-size: 24px;line-height: 36px;color: $slate-gray;position: relative;text-align: center;margin-bottom: 20px;margin-top: 15px;
        @media(max-width: 767px){
          font-size: 14px;line-height: 28px;padding: 50px 37px 0;margin: 0;
        }
    }
    p{
      width: 100%;
      text-align: center;
      color: $light-gray;
      font-size: 16px;
      margin-bottom: 0;
    }
    span{
      display: block;
      text-align: center;
      color: $light-gray;
      font-size: 16px;
      font-family: $font-face-light;
      width: 100%;
    }
    h1:before {
      content: "\f10d";font-weight: bold;font-family: 'Font Awesome\ 5 Free';font-style: normal;text-decoration: inherit;color: #B3B7BF;font-size: 18px;position: absolute;top: 0px;left: -30px;
         @media(max-width: 767px){
          top: 50px;left: 15px;
         }
    }
    h1:after {
      content: "\f10e";font-weight: bold;font-family: 'Font Awesome\ 5 Free';font-style: normal;text-decoration: inherit;color: #B3B7BF;font-size: 18px;position: absolute;bottom: -5px;right: 0px;
       @media(max-width: 767px){
          bottom: 0px;right: 15px;
         }
    }
  }
}

.footer-sec{
  padding: 10px 30px;
      @media(max-width: 767px){
        padding: 0 20px;
        .footer-menu{
          ul{
            width: 100%; clear: both;display: block;padding-left:0;  padding-top: 20px;
          }
        }
      }
  .navbar-brand{
    padding: 0;
    height: auto;
  }    
  ul{
    display: inline-block;
    padding: 0;
    @media(max-width: 767px){
      margin-bottom: 0;
    }
    @media(max-width: 991px){
      clear: both;
      padding:0;
      padding-top: 20px;
    }
    li{
      display: inline-block;
      a{
        font-size: 14px;line-height: 16px;padding: 10px;font-weight: 500;color: $slate-gray;
        @media(max-width: 767px){
          display: block;
        }
      }      
    }
    li:nth-child(1) a{
        padding-left: 0;
      }
  }
  img{
    width: 65px;margin-right: 20px;
      @media(max-width: 767px){
        display: table;
      }
  }
  .col-md-9{
    margin-top: 10px;
  } 
  .col-md-3{
    margin-top: 10px;
  }
  a.top_btn{
    margin-top: 10px;margin-bottom: 35px;color: $light-gray;position: relative;padding-right: 38px;float: right;clear: both;display: table;
    @media(max-width: 991px){
      float: none;
    }
     @media(max-width: 767px){
      display: table;
     }
  }
  a.top_btn:after {
    content: "\f106";font-family: 'Font Awesome\ 5 Free';font-style: normal;font-weight: bold;text-decoration: inherit;color: $light-gray;font-size: 18px;position: absolute;top: -5px;right: 15px;font-size: 20px;
  }
  .social-icons{
    margin-top: 5px;
    .fab{
      font-size: 24px;margin-right: 15px;color: $slate-gray;
    }
    @media(max-width: 991px){
      margin-top: 20px;margin-bottom: 0px;
    }
    @media(max-width: 767px){
      display: table;
    }
  }
  .right-align{
    float: right;
    @media(max-width: 991px){
      float: none;margin-bottom: 20px;
    }
    @media(max-width: 767px){
      padding-left:0;
    }
  }
}



/*developers-sec*/

.developers-sec{
  margin-top: 35px;
  @media(max-width: 767px){
    margin-top: 0;
  }
  h1{
    color: $slate-gray;
    padding-left: 10px;
    @media(max-width: 767px){
      font-size: 18px;
      line-height: 25px;
    }
  }
  p{
    margin: 30px 0 30px;
    padding-left: 10px;
  }
  h3 > a{
    margin-left: 10px;
  }
}

#expl-bg-color{
  background-color: $slate-gray;color: #fff;padding: 70px 0 105px;margin-top: 70px;
  @media(max-width: 767px){
    padding: 50px 0;
  }
  img{
    width: 150px;margin: 0 auto;display: block;
  }
}

.desc-block{
  padding: 100px 30px 82px;
  @media(max-width: 767px){
    padding: 50px 30px;
  }
  img{
    width: 100%;  
  }
  .icon{
    width: 52px;
  }
  h3{
    font-family: $font-face-medium;
    color: $slate-gray;
  }
  p{
    margin: 20px 0;
    font-family: $font-face-light;
  }
  a{
    color: $slate-gray;
    margin-bottom: 20px;
    display: block;
  }
}

#build-bg-color{
  background-color: #F7FAFF;
}
#document-bg-color{
  background-color: #F7FAFF;
}


.do_more_less{
  padding-bottom: 118px;
    @media(max-width: 767px){
      padding-bottom: 50px;
    }
  h2{
    margin: 0;
    color: $slate-gray;
  }
  p{
    margin:20px 0;
  }
}


/*about-raml*/
.about-raml{
  padding: 40px 30px 110px;
  @media(max-width: 991px){
    padding: 40px 30px 50px;
  }
  h3{
    margin: 40px 0 20px;font-family: $font-face-bold;
    }
  p{
    color: #000;
  }
  .sidebar-menu{
    h3{
      @media(max-width: 767px){
        display: inline-block;
        float: right;
        margin: 0;
      }
      @media(max-width: 575px){
        display:block;
        float:none;
        margin-top: 20px;
      }
    }
  }
  .about-content-sec{
    @media(max-width: 991px){
      padding: 0 55px;
    }
    @media(max-width: 767px){
      padding: 0 15px;
    }
  }
}
