---
---

// add bootstrap variable settings here

@import 'bootstrap';

@font-face{
  font-family: 'Roboto-Regular';
  src:url('/fonts/Roboto-Regular.ttf');
}

// add more css stuff here

body {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  line-height: 1.42857143;
  margin:0;
  padding:0;}


 a{
  color: #000;
}
ul{
  text-decoration: none;
  list-style: none;
}
.padd_00{padding: 0;}
.navbar-brand{padding: 0;height: auto;}
.navbar-inverse .navbar-toggle .icon-bar {background-color: #000;width: 26px;height: 4px;border-radius: 4px;}
.navbar-inverse .navbar-toggle {border-color: transparent;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color: transparent;}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{color: #000;}
header .navbar-inverse {background-color: transparent;border-color:transparent;padding: 20px;}
header .navbar-brand img{margin-top: 8px;}
header .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, header .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{color: #000;background-color: transparent;}
header .navbar-inverse .navbar-nav li a:hover{color: #000;}
header .navbar-inverse .navbar-nav{float: right;}
header .navbar-inverse .navbar-nav li a{font-size: 14px;color: #000;line-height: 16px;padding: 15px;}
header .navbar-inverse .navbar-nav li i.fa-github{font-size: 26px;line-height: 45px;padding: 0 15px;}


.tophead-content h1{font-size: 36px;line-height: 42px;}
.tophead-content .buttons{margin: 55px 0 40px;}
.tophead-content .buttons a{border: 0px solid;border-radius: 4px; background-color: #000;color: #fff;padding: 15px 25px;font-size: 16px;letter-spacing: 0.5px;line-height: 19px; text-decoration: none;margin-right: 20px;}
.tophead-content .buttons a.specif_btn{background-color: #999;}
.tophead-content p{font-size: 12px; color: #8F9299;margin-bottom: 28px;}

#content-bg-color{background-color: #000;color:#fff;padding: 80px 0 96px;}
#content-bg-color h2{font-size: 24px;line-height: 28px;margin-bottom: 30px;}
#content-bg-color p{font-size: 14px;line-height: 24px; width: 445px;margin: 0 auto;margin-bottom: 42.58px;}


.raml-editor h2{font-size: 14px;line-height: 16px;border: 0px solid;padding: 15px;background: #313538;color: #fff;margin: 0;margin-top: 45px;}
.raml-editor .output-block h2{background-color: #EDF0F4;color: #000;}
.raml-editor .editor-block .box{background: #393E41;height: 640px;}
.raml-editor .output-block .box{background-color: #F7FAFF;height: 640px;}


.raml-blocks{padding: 0 30px;}
.raml-blocks h2{font-size: 16px;line-height: 19px;letter-spacing: 0.5px;font-weight: bold;}
.raml-blocks img{width: 55px;margin-top: 100px;}
.raml-blocks p{font-size: 14px;line-height: 24px;color: #8F9299;width: 358px;}
.raml-blocks a{font-size: 14px;line-height: 22px;}
.raml-blocks .bdr{border:1px solid#B3B7BF;width: 391px;padding: 30px;border-radius: 2px;margin-top: 100px;}
.raml-blocks .bdr h1{font-size: 24px;line-height: 28px;margin-top: 0;}
.raml-blocks .bdr p{width: 100%;margin-bottom: 20px;}
.raml-blocks .bdr a{font-size: 16px;line-height: 19px;letter-spacing: 0.5px;border:0px solid;border-radius: 2px;background-color: #000;width: 220px; color: #fff;display: block;padding: 20px;}
.raml-blocks .block-quote h1{font-size: 24px;font-weight: bold;line-height: 36px;color: #B3B7BF;width: 480px;margin: 140px auto; position: relative;}
.raml-blocks .block-quote h1:before {content: "\f10d";font-family: FontAwesome;font-style: normal;font-weight: normal;text-decoration: inherit;color: #B3B7BF;font-size: 18px;position: absolute;top: 0px;left: -30px;}
.raml-blocks .block-quote h1:after {content: "\f10e";font-family: FontAwesome;font-style: normal;font-weight: normal;text-decoration: inherit;color: #B3B7BF;font-size: 18px;position: absolute;bottom: -5px;right: 0px;}

.footer-sec{padding: 0 30px;}
.footer-sec ul li{display: inline-block;}
.footer-sec img{width: 65px;margin-right: 20px;}
.footer-sec ul li a{font-size: 14px;line-height: 16px;padding: 10px;font-weight: 500;}
.footer-sec .col-md-9, .footer-sec .col-md-3{margin-top: 10px;}
.footer-sec a.top_btn{margin-top: 15px;margin-bottom: 35px;color: #8F9299;position: relative;padding-right: 38px;float: right;clear: both;}
.footer-sec a.top_btn:after {content: "\f106";font-family: FontAwesome;font-style: normal;font-weight: normal;text-decoration: inherit;color: #B3B7BF;font-size: 18px;position: absolute;top: -5px;right: 15px;font-size: 20px;}
.footer-sec .social-icons .fa{font-size: 26px;margin-right: 15px;}
.footer-sec .social-icons{padding-left: 95px;margin-top: 30px;}
.footer-sec .right-align{float: right;}


@media(max-width: 991px){
  .raml-blocks .bdr{width: 331px; }
  .raml-blocks p{width: 335px;}
  .footer-sec a.top_btn{float: none;padding-left: 95px;} 
  .footer-sec .right-align{padding-left: 85px; float: none;margin-bottom: 30px;} 
  .footer-sec .social-icons{margin-top: 20px;margin-bottom: 20px;}
}

@media(max-width: 767px){
  header .navbar-inverse .navbar-nav{float: left;}
  header .navbar-inverse{padding: 20px 0;margin-bottom: 0;}
  header .navbar-brand img{padding-left: 30px;}
  header .navbar-toggle{margin-right: 30px;}
  .tophead-content h1 {font-size: 18px;line-height: 25px;}
  .tophead-content .buttons a{width: 190px;margin: 15px auto; display: block;}
  #content-bg-color h2 {font-size: 18px;line-height: 25px;padding: 0 20px;}
  #content-bg-color p{width: 100%;}
  #content-bg-color {padding: 50px 0 48px;}
  #content-bg-color .homepage_icons img{width: 70px;}
  .raml-blocks p, .raml-blocks .block-quote h1 {width: 100%;}
  .raml-editor{display: none;}
  .raml-blocks img {margin-top: 50px;}
  .raml-blocks .bdr {width: 100%;margin-top: 50px;}
  .raml-blocks .bdr a{width: 100%;}
  .raml-blocks .block-quote h1{font-size: 14px;line-height: 28px;padding: 50px 37px;margin: 0;}
  .raml-blocks .block-quote h1::before {top: 50px;left: 15px;}
  .raml-blocks .block-quote h1::after {bottom: 50px;right: 15px;}
  .footer-sec{padding: 0 20px;}
  .footer-sec .right-align{padding-left: 0;}
  .footer-sec .social-icons, .footer-sec img, .footer-sec a.top_btn{padding-left: 10px;display: table;}
  .footer-sec .footer-menu ul{widows: 100%; clear: both;display: block;padding-left:0;  padding-top: 20px;}
  .footer-sec ul li a{display: block;}
}