<div class="side_bar">
    <h2>About</h2>
    <ul class="">
        <li>
            {% if page.title == 'About RAML' %}
               <a href="/about-raml" class="active">About Raml</a>
            {% else %}
                <a href="/about-raml">About Raml</a>
            {% endif %}
        </li>
        <li>
            {% if page.title == 'Contributors' %}
              <a href="/contributors" class="active">Contributors</a>
            {% else %}
               <a href="/contributors">Contributors</a>
            {% endif %}      
        </li>
        <li>
            {% if page.title == 'Legal' %}
               <a href="/legal" class="active">Legal</a>
            {% else %}
                <a href="/legal">Legal</a>
            {% endif %}        
            
        </li>
    </ul>
</div>