<div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <section class="raml-developers pull-left">
                <h1>RAML for Developers</h1>
                <h3>RAML was designed to make your life easier by giving you power over the full API Lifecycle by letting you design, build, test, document, and share your REST API with a single source of truth and a large open source community.</h3>
                <div class="ramllinks-wrapper">
                    <a href="https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/" target="_blank" class="raml-links first">RAML 0.8</a>
                    <a href="https://github.com/raml-org/raml-spec/blob/master/versions/raml-08/raml-08.md" class="raml-links last" target="_blank">RAML 1.0</a>
                </div>
            </section>

        </div>

    </div>
