<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <section class="raml-enterpise pull-left">
            <h1>RAML for Enterprise</h1>
            <h3>Leading companies around the world trust RAML to streamline processes, decrease their time to market, increase collaboration, build longer-lived APIs, drive developer adoption, and satisfy their customers.</h3>
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <a href="https://github.com/raml-org/raml-spec/blob/master/versions/raml-08/raml-08.md" class="raml-links first" target="_blank">RAML 0.8</a>
                </div>
                <div class="gapdiv"></div>
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <a href="https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/" class="raml-links last" target="_blank">RAML 1.0</a>
                </div>

            </div>
        </section>

    </div>

</div>
