<div class="container enterprise">	
	<div class="row">
	    <div class="col-md-6 col-xs-12 col-sm-6">
	        <section class="raml-enterpise pull-left">
	            <h1>RAML for Enterprise</h1>
	            <h3>Leading companies around the world trust RAML to streamline processes, decrease their time to market, increase collaboration, build longer-lived APIs, drive developer adoption, and satisfy their customers.</h3>
	            <div class="ramllinks-wrapper">
	                <a href ="https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/" target="_blank" class="raml-links specif_btn" onclick="ga('send', 'event', 'CTA', 'Click', '1.0-spec');"> 1.0 Spec</a>
	            </div>
	        </section>
	    </div>
	    <div class="col-md-6 col-xs-12 col-sm-6">
	        <img class="img-fluid" src="/images/banner-img__enterprises-raml.svg"  alt="enterprise" />
	    </div>
	</div>
</div>