<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <section class="raml-enterpise pull-left">
            <h1>RAML for Enterprise</h1>
            <h3>Leading companies around the world trust RAML to streamline processes, decrease their time to market, increase collaboration, build longer-lived APIs, drive developer adoption, and satisfy their customers.</h3>
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <a href="/raml-08-spec" class="raml-links first">RAML 0.8</a>
                </div>
                <div class="gapdiv"></div>
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <a href="/raml-10-spec" class="raml-links last">RAML 1.0</a>
                </div>

            </div>
        </section>

    </div>

</div>
