<div class="bottom-wrapper">
    <footer class="footer container">
        <div class="row">
            <div class="col-md-4">
            <section>
                <div class="logo">
                    <img src="/images/ramllogo.png" alt="home" />
                </div>
                <div class="footer_description">
                    <p>RAML is the only spec designed to encompass the full API lifecycle in a human readable format with
                        code and design pattern reuse.  With RAML you can truly
                        <a href="/developers/design-your-api">design</a>,
                        <a href="/developers/build-your-api">build</a>,
                        <a href="/developers/test-your-api">test</a>,
                        <a href="/developers/document-your-api">document</a>, and
                        <a href="/developers/share-support-your-api">share</a> your API all with one spec.
                    </p>
                </div>
            </section>
            </div>

            <div class="col-md-8">
             <div class="footer_meu">
                 <ul>
                     <li><a href="/developer" title="For Developers">For Developers</a></li>
                     <li><a href="/enterprises" title="For Enterprises">For Enterprises</a></li>
                     <li><a href="/projects" title="Projects">Projects</a></li>
                     <li><a href="http://forums.raml.org/" title="Forums">Forums</a></li>
                     <li><a href="/blogs" title="Blog">Blog</a></li>
                     <li><a href="/about-raml" title="About">About</a></li>
                 </ul>
             </div>

                <div class="footer_links">
                    <ul>
                        <li><a href="/" title="RAML">RAML</a></li>
                        <li><a href="/workgroup" title="Workgroup">Workgroup</a></li>
                        <li><a href="/contact" title="Contact">Contact</a></li>
                        <li><a href="/legal" title="Licensing">Licensing</a></li>
                        <li><a href="http://forums.raml.org/privacy" title="Privacy">Privacy</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>
</div>



</body>
</html>