<hr/>
<footer>
    <div class="container footer-sec">
        <div class="row">
            <div class="col-lg-8 col-sm-12 footer-menu">
                <a class="navbar-brand" href="/"><img src="/images/logo__raml.svg"></a>
                <ul>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/developer">Developers</a></li>
                    <li><a href="/enterprises">Enterprises</a></li>
                    <li><a href="https://medium.com/raml-api">Blog</a></li>
                    <li><a href="/about-raml">About</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-12 footer-menu">
                <div class="social-icons right-align">
                    <a href="https://github.com/search?utf8=%E2%9C%93&q=RAML"><img src="/images/social__github.svg" /></a>
                    <a href="https://forum.raml.org"><img src="/images/social__blog.svg" /></a>
                    <a href="/slack"><img src="/images/social__slack.svg" /></a>
                    <a href="https://twitter.com/ramlapi"><img src="/images/social__twitter.svg" /></a>
                </div>
            </div>
            <div class="col-sm-12">
                <ul>
                    <li><a href="/contributors">Contributors</a></li>
                    <li><a href="/legal">Licensing</a></li>
                    <li><a href="https://www.salesforce.com/company/privacy/" target="_blank">Privacy</a></li>
                    <li><a href="https://www.salesforce.com/content/dam/web/en_us/www/documents/legal/Privacy/privacy-shield-notice.pdf" target="_blank">Privacy Shield</a></li>
                    <li>
                        <button class="ot-sdk-show-settings optanon-toggle-display removable" data-ignore-geolocation="true" id="ot-sdk-btn" >Cookie preferences</button>
                    </li>
                    <li>
                        <a href="https://www.salesforce.com/form/other/privacy-request/" target="_blank" class="cpra-link page-footer_link">
                            Your Privacy Choices
                        </a>
                    </li>
                </ul>
                <a href="#" class="top_btn">Back to the Top</a>
            </div> 
            <div class="col-lg-12 col-md-12">
                <p>&copy; <span id="current-year"></span> Salesforce, Inc. All rights reserved.</p>
            </div> 
        </div>
    </footer>
</div>

<script>
    const currentYear = new Date().getFullYear();
    document.getElementById("current-year").innerText = currentYear;
</script>

</body>
</html>
