<!DOCTYPE html>
<html>
<head>
    {% seo %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=0, maximum-scale=1, user-scalable=yes">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" >
    <link href="{{ site.baseurl }}/css/gdpr-cookie.css" rel=stylesheet>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/gdpr-cookie.js"></script>
    <script src="{{ site.baseurl }}/js/script.js"></script>

    {% if page.title == 'Welcome' %}
    <script type="text/javascript">
        $(document).ready(function() {
            $.getJSON("/testimonial.json", function (data) {
                var postsCount = data.length;
                var posts = data;

                var randomIndexUsed = [];
                var counter = 0;
                var numberOfPosts = 1;

                var divRandomPosts = $(".testimonial");

                while (counter < numberOfPosts)
                {
                    var randomIndex = Math.floor(Math.random() * postsCount);

                    if (randomIndexUsed.indexOf(randomIndex) == "-1")
                    {
                        var testimonial_content = posts[randomIndex].content;
                        var testimonial_author = posts[randomIndex].author;
                        var testimonial_location = posts[randomIndex].location;


                        if (counter == (numberOfPosts - 1))
                        {
                            divRandomPosts.append('<blockquote><h2>' + testimonial_content + '</h2></blockquote><div class="author_name">' + testimonial_author + '</div><div class="author_location">' + testimonial_location + '</div>');
                        }
                        else
                        {
                            divRandomPosts.append('<blockquote><h2>' + testimonial_content + '</h2></blockquote><div class="author_name">' + testimonial_author + '</div><div class="author_location">' + testimonial_location + '</div>');
                        }

                        randomIndexUsed.push(randomIndex);

                        counter++;
                    }
                }
            });
        });
    </script>
    {% endif %}
	 <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TKR6L22');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="{{ page.title | downcase | replace:' ','-' | replace:',','' | strip_html }} {{ page.layout }} {{ page.is_post }}">