<!DOCTYPE html>
<html>
<head>
    {% seo %}
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" >
    <link href="{{ site.baseurl }}/css/gdpr-cookie.css" rel=stylesheet>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>    
    <script src="{{ site.baseurl }}/js/gdpr-cookie.js"></script>
    <script src="{{ site.baseurl }}/js/doubletaptogo.min.js"></script>
    <script src="{{ site.baseurl }}/js/script.js"></script>     
    <script>
        $(document).ready(function(){
          $('.navbar-toggler').on('click', function(){
            $(".over-lay").toggleClass('overlay')
          });

          $( '.navbar-nav li:has(ul)' ).doubleTapToGo();
      });

        $(window).scroll(function(){
            if ($(window).scrollTop() >= 150) {
                $('.region-sidebar').addClass('affix');
            }
            else {
                $('.region-sidebar').removeClass('affix');
            }
        });
    </script>
</head>
<body>
    <div class="over-lay"></div>
