<section class="tophead-banner">
    <div class="container text-center tophead-content">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>The simplest way to model APIs</h1>
                <div class="buttons">
                    <a href="#" class="try_btn">Try It Out <i class="fas fa-expand"></i></a>
                    <a href="#" class="specif_btn">Learn RAML</a>
                    <div style="clear: both;"></div>
                </div>  
               <a href=""><p>RAML 1.0 Specification</p></a>
            </div>  
        </div>  
    </div>  
</section>
<hr style="margin-top: 0;margin-bottom: 15px;">