<section class="homepage_topcontent">
    <div class="row">
        <div class="col-md-12">
                <h1>
                    The simplest way to design APIs
                </h1>
                <h3>
                    RESTful API Modeling Language (RAML) makes it easy to manage the whole API lifecycle from design to sharing.
                    It's concise - you only write what you need to define - and reusable. It is machine readable API design that
                    is actually human friendly.
                </h3>
                <h2>Write once. Use many. Creative laziness encouraged.test2</h2>

            </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            <a href="#"><img src="{{ site.baseurl }}/images/RAMLicondesign.svg" class="design"></a>
        </div>

        <div class="col-md-2">
            <a href="#"><img src="{{ site.baseurl }}/images/RAMLiconbuild.svg" class="build"></a>
        </div>

        <div class="col-md-2">
            <a href="#"><img src="{{ site.baseurl }}/images/RAMLicontest.svg" class="contest"></a>
        </div>

        <div class="col-md-2">
            <a href="#"><img src="{{ site.baseurl }}/images/RAMLicondocument.svg" class="document"></a>
        </div>

        <div class="col-md-2">
            <a href="#"><img src="{{ site.baseurl }}/images/RAMLiconshare.svg" class="share"></a>
        </div>

    </div>

    <div class="row gap">
        <div class="col-md-6">
            <a href="/raml-08-spec" class="raml-links first">RAML 0.8</a>
        </div>

        <div class="col-md-6">
            <a href="/raml-10-spec" class="raml-links last">RAML 1.0</a>
        </div>
    </div>
</section>