<section class="tophead-banner">
    <div class="container text-center tophead-content">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>The simplest way to model APIs</h1>
                <div class="buttons">
                    <a href="#" class="try_btn">Try It Out <i class="fas fa-expand"></i></a>
                    <a href="#" class="specif_btn">Learn RAML</a>
                    <div style="clear: both;"></div>
                </div>  
               <a href="https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/"><p>RAML 1.0 Specification</p></a>
            </div> 
        </div>  
    </div> 
    <div class="home-banner-image">
         <div class="left-banner">
            <img src="images/banner-img__homepage-left.svg">
        </div>
        <div class="right-banner">
            <img class="float-right" src="images/banner-img__homepage-right.svg">
        </div>
    </div> 
</section>
<hr style="margin-top: 0;margin-bottom: 15px;">