<div class="row">
    <div class="col-md-4">
    <section class="raml-mvp">
        <h2>RAML MVPs</h2>
        <p>Do you Love RAML ? want to connect with other RAMLers While growing your skills and earning awesome prizes ? Then the RAML MVPs program is for you.</p>
        <div class="btn-signup">
            <a href="https://raml.influitive.com/users/sign_in" class="link_signup">Sign up</a>
        </div>
    </section>
    </div>

    <div class="col-md-8">
        <div class="background-banner"></div>
    </div>
</div>