<header>
     <nav class="navbar navbar-expand-md navbar-dark">      
          <a class="navbar-brand" href="#"><img src="/images/ramllogo.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav justify-content-end">
              <li> <img class="d-sm-block d-lg-none d-md-none nav-logo" src="/images/ramllogo.png"> <i class="fab fa-github"></i></li>
              <li class="active nav-item"><a class="nav-link" href="/projects">Projects</a></li>
              <li class="nav-item"><a class="nav-link" href="https://medium.com/raml-api">Blog</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  About <span class="caret"></span>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/about-raml">About RAML</a>
                  <a class="dropdown-item" href="/workgroup">Workgroup</a>
                  <a class="dropdown-item" href="/legal">Legal</a>
                </div>
              </li>
          </ul>
        </div>
    </nav> 
</header>

{% if page.title == 'Welcome' %}
        {% include homepage_top.html %}
{% endif %}

{% if page.title == 'Developer' %}
    {% include developer_top.html %}
{% endif %}