<div class="top_wrapper">
<header role = "banner" id = "header_nav">
    <div class="container">
        <div class="navbarright">
            <ul class = "top_menu">
                <li><a href="https://github.com/search?utf8=%E2%9C%93&q=RAML" target="_blank">GitHub</a></li>
                <li><a href="http://stackoverflow.com/search?tab=newest&q=RAML" target="_blank">Stack Overflow</a></li>
                <li><a href="https://twitter.com/ramlapi" target="_blank">Twitter</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div>
                <div class="navbar-header">
                    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                        <!--<span class="sr-only">Toggle navigation</span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                    <!--</button>-->
                    <a class="navbar-brand" href="/"><img src = "{{ site.baseurl }}/images/ramllogo.png" /></a>
                </div>
                <div id="navbar" class="">
                    <ul class="nav navbar-nav navbarright">
                        <li class="parent_dropdown"><a class="dropdown-link parentlink" href="/developer">For Developers <span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                <li class="dropdown-submenu"><a href="/developer" class="dropdown-link">Why Raml <span class="dropdown-caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/developers/design-your-api">Design</a></li>
                                        <li><a href="/developers/build-your-api">Build</a></li>
                                        <li><a href="/developers/test-your-api">Test</a></li>
                                        <li><a href="/developers/document-your-api">Document</a></li>
                                        <li><a href="/developers/share-support-your-api">Share</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu"><a href="/developers/raml-100-tutorial" class="dropdown-link">Tutorials<span class="dropdown-caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/developers/raml-100-tutorial">RAML 100 Tutorial</a></li>
                                        <li><a href="/developers/raml-200-tutorial">RAML 200 Tutorial</a></li>
                                    </ul>
                                </li>
                                <li><a href="https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/" target="_blank">Specification</a></li>
                                <li><a href="/projects">Project Library</a></li>
                                <li><a href="/developers/books-and-resources">Book and Resources</a></li>
                                <li><a href="https://raml.influitive.com/users/sign_in">MVP Program</a></li>
                                <li><a href="/developers/contributing">Contributing</a></li>
                            </ul>
                        </li>
                        <li class="parent_dropdown"><a class="dropdown-link parentlink" href="/enterprises">For Enterprises <span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                <li><a href="/enterprises">Why RAML</a></li>
                                <!--<li><a href="/enterprise/raml-news">RAML in the News</a></li>-->
                                <li><a href="/enterprise/vendor-support">Vendor Support</a></li>
                            </ul>
                        </li>
                        <li class="parent_dropdown"><a class="parentlink" href="/projects">Projects</a></li>
                        <li class="parent_dropdown"><a class="parentlink" href="http://forums.raml.org/">Forums</a></li>
                        <li class="parent_dropdown"><a class="parentlink" href="/blogs">Blogs</a></li>
                        <li class="parent_dropdown"><a class="parentlink" href="/mvp">RAML MVPs</a></li>
                        <li class="parent_dropdown"><a class="dropdown-link parentlink" href="/about-raml">About <span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                <li><a href="/workgroup">Workgroup</a></li>
                                <li><a href="/legal">Legal</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

    {% if page.title == 'Welcome' %}
    <div class="container">
        {% include homepage_top.html %}
    </div>
    {% endif %}

    {% if page.title == 'Developer' %}
    <div class="container">
        {% include developer_top.html %}
    </div>
    {% endif %}

    {% if page.title == 'Enterprises' %}
    <div class="container">
        {% include enterprise_top.html %}
    </div>
    {% endif %}

    {% if page.title == 'MVP' %}
    <div class="container">
        {% include mvp_top.html %}
    </div>
    {% endif %}

    {% if page.title == 'Projects' %}
    <div class="container">
        {% include project_top.html %}
    </div>
    {% endif %}

    </div>