<header>
     <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="slide-collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/ramllogo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
              <li> <img class="xs-visible nav-logo" src="images/ramllogo.png"> <i class="fa fa-github" aria-hidden="true"></i></li>
              <li class="active"><a href="#">Projects</a></li>
              <li><a href="#">Examples</a></li>
              <li><a href="#">Blog</a></li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Page 1-1</a></li>
                  <li><a href="#">Page 1-2</a></li>
                  <li><a href="#">Page 1-3</a></li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav> 
</header>

{% if page.title == 'Welcome' %}
        {% include homepage_top.html %}
{% endif %}

{% if page.title == 'Developer' %}
    {% include developer_top.html %}
{% endif %}