<div class="container enterprise">	
	<div class="row">
	    <div class="col-md-6 col-lg-6 col-sm-6">
	        <section class="raml-enterpise pull-left">
	            <h1>Projects</h1>
	            <!-- <h3>The RAML specification is supported by tools focused on designing, building, testing, documenting and sharing web APIs. These tools are contributed by our great community of developers who in their spare time help grow the RAML ecosystem</h3> -->
	        </section>
	    </div>
<!-- 
	    <div class="col-lg-6 col-md-6 col-sm-6">
	    	<img class="img-fluid" src="/images/banner-img__enterprises-raml.svg"  alt="enterprise" />
	    </div> -->
	</div>
</div>