<a href="/developers/raml-100-tutorial" class="lastsidemenu">RAML 100 Tutorial</a>

<li class="nav-item dropdown tutorial_sidebar">  
    <a href="#" class="firstmenu active dropdown-toggle" data-toggle="dropdown">RAML 200 Tutorials<span class="caret"></span></a>
    <ul class="sidemenu dropdown-menu">
        <li><a href="#setting-up-the-workspace" class="active">Setting up the workspace</a></li>
        <li><a href="#use-case" class="active">Use case description</a></li>
        <li><a href="#base-raml-file" class="active">Step 0: Base RAML file</a></li>
        <li><a href="#body-parameters" class="active">Step 1: Body Parameters</a></li>
        <li><a href="#extract-schemas" class="active">Step 2: Extract Schemas</a></li>
        <li><a href="#resource-types" class="active">Step 3: Resource Types</a></li>
        <li><a href="#parameters" class="active">Step 4: Parameters</a></li>
        <li><a href="#includes" class="active">Step 5: Includes</a></li>
        <li><a href="#refactor" class="active">Step 6: Refactor</a></li>
        <li><a href="#traits" class="active">Step 7: Traits</a></li>
        <li><a href="#final-tuning" class="active">Step 8: Final Tuning</a></li>
    </ul>
</li>