<a href="#" class="active firstmenu" >RAML 100 Tutorials<span class="caret"></span></a>
<ul class="sidemenu">
    <li><a href="#enter-the-root" class="active">Step 1: Enter the Root</a></li>
    <li><a href="#enter-resources" class="active">Step 2: Enter the resources</a></li>
    <li><a href="#enter-methods" class="active">Step 3: Enter Methods</a></li>
    <li><a href="#enter-uri-parameters" class="active">Step 4: Enter URI Parameters</a></li>
    <li><a href="#enter-query-parameters" class="active">Step 5: Enter Query Parameters</a></li>
    <li><a href="#enter-responses" class="active">Step 6: Enter Responses</a></li>
</ul>

<a href="/developers/raml-200-tutorial" class="lastsidemenu">RAML 200 Tutorial</a>