{% include header.html %}

{% include nav.html %}

<div class="container page-content">
    <div class="row">
        <aside class="col-md-3 col-xs-12 col-sm-12 well" role = "complementary">
         <section class="ramlapilinks">
             <div class="raml-links-wrapper">
                 <a href="https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/" class="raml-links last" target="_blank">RAML 1.0</a>
                 <a href="https://github.com/raml-org/raml-spec/blob/master/versions/raml-08/raml-08.md" class="raml-links first" target="_blank">RAML 0.8</a>
             </div>
         </section>
        </aside>
        <div class="col-md-9 col-xs-12 col-sm-12">
            <h1 class="page-header">{{ page.title }}</h1>
            {{ content }}
        </div>
    </div>

</div><!-- /.container -->

{% include footer.html %}